<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyp.av">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.zyp.av.App"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zyp.av.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.camera.Camera2Activity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.camera.CameraOpenGLActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.camera.CameraOpenGLFilterActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.camera.CameraOpenGLLookupActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.camera.CameraTextureActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.camera.Camera2TextureActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.opengl.OpenGLRendererTestActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.fmod.FmodActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.fmod.EffectActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.opengl.CubeActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.opengl.HockeyActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.opengl.PanoramaActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.assimp.AssimpActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.video.RgbaPlayerActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.fdkaac.FdkAACActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.ffmpeg.FFmpegActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.video.MediaCodecVideoActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.video.VideoViewActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.video.MediaPlayerActivity"
            android:exported="false" />
        <activity
            android:name="com.zyp.av.video.MediaCodecActivity"
            android:exported="false" />
        <activity android:name="com.zyp.av.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zyp.av.audio.AudioActivity" />
        <activity android:name="com.zyp.av.audio.LibmadActivity" />
        <activity android:name="com.zyp.av.audio.LiblameActivity" />
        <activity android:name="com.zyp.av.yuv.YuvCameraActivity" />
        <activity android:name="com.zyp.av.video.CameraMediaCodecActivity" />
        <activity android:name="com.zyp.av.x264.X264Activity" />
        <activity android:name="com.zyp.av.rtmp.CameraMediaCodecRtmpActivity" />
        <activity android:name="com.zyp.av.video.ANativeWindowActivity" />
        <activity android:name="com.zyp.av.yuv.YUViewActivity" />
        <activity android:name="com.zyp.av.yuv.RGBViewActivity" />
        <activity android:name="com.zyp.av.yuv.YUVTestActivity" />
        <activity android:name="com.zyp.av.exoplayer.ExoPlayerActivity" />
        <activity
            android:name="com.zyp.av.gpuimage.GpuImageActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>